Asistencias/dist/
Asistencias/build/ 
Asistencias/nbproject/private/
thumbs.db
/Nuevo Proyecto/Inasistencia/nbproject/private/
/Nuevo Proyecto/WebApplication1/nbproject/private/
/Nuevo Proyecto/WebApplication1/build/
/Nuevo Proyecto/Inasistencia/build/