<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSecretaria</servlet-name>
        <servlet-class>controlador.ControladorSecretaria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdministrador</servlet-name>
        <servlet-class>controlador.ControladorAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorJustiS</servlet-name>
        <servlet-class>controlador.ControladorJustiS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorImagenes</servlet-name>
        <servlet-class>controlador.ControladorImagenes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSecretaria</servlet-name>
        <url-pattern>/ControladorSecretaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdministrador</servlet-name>
        <url-pattern>/ControladorAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorJustiS</servlet-name>
        <url-pattern>/ControladorJustiS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorImagenes</servlet-name>
        <url-pattern>/ControladorImagenes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
